*{margin:0; padding:0;}
ul,li{list-style: none;}
a{text-decoration: none;}
.cf:after{
    display: block;
    content:"";
    clear:both;
}

body{overflow-x: hidden;}

/* h1#indi{
	position:fixed;
    left:10px;
	bottom:10px;
	background:rgba(255,255,255,0.8);/
	z-index:100;
} */

/* ================================================================================== */


.scroll{
    position: fixed;
    left:5px;
    bottom:0px;
    font-size: 30px;
    z-index: 88;
}


header{
    width:100%;
    height:100px;
    margin:0 auto;
    position: fixed;
    z-index: 9999;
}
 
.mine_nav{
    position: fixed;
    max-width:1920px;
    width:100%;
    height:150px;
    left:50%;
    transform: translate(-50%,0);
    /* border:1px solid red; */
    box-sizing: border-box;
    z-index: 10;
}

/*검색키워드*/
.big1{
    position: absolute;
    width:190px;
    height:50px;
    bottom:13px;
    left:20px;
    top:53px;
    /* border:1px solid turquoise; */
}



/* ==================================================햄버거 메뉴 시작*/

.three{
    position: absolute;
    /* border:1px solid red; */
    right:50px;
    top:50%;
    transform: translate(0,-80%);
    z-index: 9999;
    cursor: pointer;
}


.hamburger .line{
    width: 30px;
    height: 3px;
    background-color: #000;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }


#hamburger-6.is-active{
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
  }
  
  #hamburger-6.is-active .line:nth-child(2){
    width:0px;
  }
  
  #hamburger-6.is-active .line:nth-child(1),
  #hamburger-6.is-active .line:nth-child(3){
    transition-delay: 0.3s;
  
  }
  
  #hamburger-6.is-active .line:nth-child(1){
    transform: translateY(8px);
  }
  #hamburger-6.is-active .line:nth-child(3){
    transform: translateY(-8px) rotate(-90deg);
  }


  ::-webkit-scrollbar{width: 10px;}
  ::-webkit-scrollbar-track {background-color:#f1f1f1;}
  ::-webkit-scrollbar-thumb {background-color:#f9edf1;}
  ::-webkit-scrollbar-thumb:hover {background: #555;}
  ::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
  width:16px;height:16px;background:#f9edf1;} 

/* ==================================================햄버거 메뉴 끝 */

/* =============================좌표 마우스 포인트 */
#m1{
    width:100px;
    height:100px;
    position: absolute;
    top:0px;
    left:0px;
    margin-top:-5px;
    margin-left:15px;
}
/* =============================좌표 마우스 포인트 */

/* ====================================================네비게이션 시작 */
.mine_nav .ul_in {
    position: absolute;
    right:100px;
    top:30px;
    width:0;
    height:72px;
    transition: all 0.8s;
    overflow:hidden;
    visibility: hidden;
}
.mine_nav .ul_in.on{
    width:60%; 
    height:400px;
    visibility: visible;
     /*메뉴 ul길이 조절*/
}
.mine_nav .ul_in > ul{
    position: absolute;
    left:0;
    top:0;
    width:700px;
    height:72px;
    /* border:1px solid red; */
    z-index: 11;
}

.mine_nav .ul_in > ul>li{
    float:left;
    margin-left:-33px;
    font-size: 18px;
    padding:10px 0;
    font-weight: bold;
    text-align: center;
 
}

.mine_nav .ul_in > ul>li:hover>a{
    color:#332a7b;
}

.mine_nav .ul_in > ul>li>a{
    display: block;
    width:150px;
    height:100%;
    padding-left:5px;
    line-height: 50px;
    color:#555;
    
}

.mine_nav .ul_in > ul>li>ul{
    width:150px;
    height:0;
    /* border-right:1px solid #ccc; */
    text-align: left;
    z-index: 10;
    margin-top:10px;
    position: absolute;
    overflow: hidden;

}
/*네비게이션 딜레이*/
.mine_nav .ul_in > ul>li:nth-child(1)>ul{
       transition: all 0.7s;
}
.mine_nav .ul_in > ul>li:nth-child(2)>ul{
    transition: all 0.7s 0.1s;
}
.mine_nav .ul_in > ul>li:nth-child(3)>ul{
    transition: all 0.7s 0.3s;
}
.mine_nav .ul_in > ul>li:nth-child(4)>ul{
    transition: all 0.7s 0.4s;
}
.mine_nav .ul_in ul:hover>li>ul{
    height:260px;
}
.mine_nav .ul_in > ul>li>ul>li{
    text-align: center;
    margin-top:2px;
}
/*네비게이션 딜레이*/

.mine_nav .ul_in > ul>li>ul>li:hover>a{
    color:#000;
}

.mine_nav .ul_in > ul ul a{
    font-size: 14px;
    display: block;
    padding:5px 0;
    padding-left:57px;
    color:#332a7b;
    opacity: 0.5;
    text-align: left;
    text-shadow: 1px 1px 2px #fff;
}

/* ====================================================네비게이션 끝 */

#body_popo0{
    width:100%;
    height:1000px;
    background: url(../img/href.png) no-repeat;
}


/* #pata_history{
    width:100%;
    height:2000px;

    transition: all 0.8s;
    position: relative;
}


#pata_history .poto1{
    position: absolute;
    left:100%;
    top:30%;
    transition: all 1.7s;
}
#pata_history .poto1.active{
    left:30%;
    top:30%;
} */

/* 큰글씨 슬라이드
#pata_history .poto1.active{
    left:26%;
    top:30%;
} */

.such{
    position: absolute;
    width:500px;
    height:50px;
    /* border:1px solid #000; */
    border-radius: 18px;
    left:43%;
    top:35%;
    transform: translate(-50%,-30%);
}

/*작은 글씨 슬라이드*/
.poto3{
    position: absolute;
    top:-30px;

}
/* ============================================================마우스 스크롤 패치 시작*/
.patch{
    position: fixed;
    width:150px;
    height:150px;
    /* border:1px solid red; */
    z-index: 10;
    right:-1%;
    top:-100%;
    background:url(../img/patch2.png)no-repeat;
    transition: all 0.8s;
    cursor: pointer;
}

.patch.active{
    top:88%;
}

.patch a{
    display: block;
    width:100%;
    height:100%;
}
/* ============================================================마우스 스크롤 패치 끝*/

/* ================================================오른쪽 스크롤 다운 움직이는 글씨 시작*/
.y_roll{
    position: fixed;
    width:30px;
    height:250px;
    /* border:1px solid red; */
    right:5%;
    top:40%;
    animation:kaki 0.5s infinite alternate; 
}

@keyframes kaki{
    0%{top:330px;}
    100%{top:350px;}
}

.y_roll:after{
    content: '';
    position: absolute;
    width:1px;
    height:70px;
    bottom:50px;
    left:14px;
    background-color: #bbb;
    display: block;
}

.y_roll p{
    writing-mode:vertical-lr; 
    color:#bbb;
    font-weight: bold;
    margin-left:5px;
}

/* ===============================================오른쪽 스크롤 다운 움직이는 글씨 끝*/

/* ===============================================단간한 전화번호 메일 아이디*/

.inline{
    position: fixed;
    width:80px;
    height:80px;
    /* border:1px solid red; */
    z-index: 10;
    right:150px;
    top:-100%;
    transition: all 0.8s;
    cursor: pointer;
}

.inline .img{
    position: absolute;
    width:100%; 
    height:100%;
    right:0;
    bottom:0;
    transition: all 0.5s;
}
.inline .img:hover{
    transform: scale(1.3);
    z-index: 1;
}

.inline.active{
    top:87%;
}


.inline > .img > a{
    width:100%;
    height:100%;
    display: block;
} 



/*문자*/
.m1{
    background: url(../img/a.png);
    z-index: 1;
}

/*kakao*/
.m2{background: url(../img/kakao.png);}
.m2:hover{
    background: url(../img/kakao_p.png) no-repeat;
}

/*e-mail*/
.m3{background: url(../img/instar.png);}
.m3:hover{
    background: url(../img/instar_p.png) no-repeat;
}

/*instagran*/
.m4 {background: url(../img/email.png);}
.m4:hover{
    background: url(../img/email_p.png) no-repeat;
}

/*Phone*/
.m5{background: url(../img/phone.png);}
.m5:hover{
    background: url(../img/phone_p.png) no-repeat;
}

/*================================================팝업창*/
.pop{
    width:100%;
    height:1000px;
    position: fixed;
    background:rgba(0,0,0,0.8);
    z-index: 40;
    display: none;
    left:0;
	top:0;
}

.pop > div{
    width:700px;
    height:150px;
    background: #fff;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: none;
}


.pop > div img{
    position: fixed;
    width:50px;
    height:50px;
    right:-40px;
    top:-40px;
    cursor: pointer;
}

.pop > div > h2{
    text-align: center;
    font-size: 28px;
    margin:50px auto;
}
/*================================================팝업창*/


/* ===============================================단간한 전화번호 메일 아이디*/




/* ===============================================ABOUT ME 설명*/

#body_popo1{
    width:100%;
    height:1000px;
    background-color: #fff;
    /* border:1px solid red; */
}

.about_me{
    width:1600px;
    height:1000px;
    margin:0 auto;
    text-align:center;
    /* border:1px solid red; */
    /*큰박스*/
}

.icon_box{
    width:100%;
    height:400px;
    margin:50px auto 0;
    /* border:1px solid red; */
    /*작은박스*/
}


.icon_box li{
    float:left;
    width:350px;
    height:400px;
    position: relative;
    overflow: hidden;
    /* border:1px solid yellowgreen; */
    /*글씨 감추기*/
}

.icon_box li img{
    position: absolute;
    top:100%;
    left:50%;
    transform: translate(-50%,0);
}

.icon_box li:nth-child(1){
    margin-left:120px;
}

.icon_box h3{
    display: block;
    position: absolute;
    text-align: center;
    top:calc(100% + 260px);
    left:50%;
    transform: translate(-50%,0);

}

.icon_box p{
    display: block;
    width:300px;
    height:500px;
    position: absolute;
    top:calc(100% + 300px);
    left:50%;
    transform: translate(-50%,0);
    font-size: 14px;

}
.about_me h2{
    display: block;
    padding:100px 0 0px;
    margin:30px 0 0 45px; 
    font-size: 30px;
}

.about_txt{
    float:left;
    width:800px;
    height: 150px;
    font-size: 30px;
    margin-left:400px;
    margin-top:50px;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;
}

.about_txt p{
    margin-top:170px;
    transition: all 2s;

}
.about_txt1{
    float:left;
    width: 800px;
    height: 150px;
    margin-top:30px;
    margin-left:400px;
    font-size: 20px;
    overflow: hidden;
}
.about_txt1 p{
    margin-top:170px;
    transition: all 1s;
}

/* ===============================================ABOUT ME 설명*/
/* ===============================================포트폴리오 설명*/
#body_popo2{
    width:100%;
}
.logo_icon1,.logo_icon2,.logo_icon3,.logo_icon4,.logo_icon5{
    position: relative;
    width:100%;
    height:1000px;
    /* border:1px solid red; */
}

.logo_icon_box{
    position: absolute;
    width:340px;
    height:466px;
    /* border:1px solid yellow; */
    left:50%;
    top:50%;
    transform: translate(-49%,-55.7%);
}
.logo_icon_box > div{
    position: absolute;
}

/* 파타고니아 백그라운드 */
.logo_icon1{
    position: relative;
    background: url(../img/main_patagonia.png) no-repeat 0 0  / cover;
    background-attachment: fixed;
}
/* 쥬씨 백그라운드 */
.logo_icon2{
    background: url(../img/main_juicy.png) no-repeat 0 0  / cover;
    background-attachment: fixed;
    position: relative;
}
/* 푸마 백그라운드 */
.logo_icon3{
    background: url(../img/main_puma.png) no-repeat 0 0  / cover;
    background-attachment: fixed;
}
/* 요거프레소 백그라운드 */
.logo_icon4{
    background: url(../img/main_yogeroresso.png) no-repeat 0 0  / cover;
    background-attachment: fixed;
}
/* 위니 백그라운드 */
.logo_icon5{
    background: url(../img/main_wenee.png) no-repeat 0 0  / cover;
    background-attachment: fixed;
}



/*파타고니아*/
.jae0{
    width:500px;
    height:300px;
    /* background-color: rgba(0,0,0,0.3); */
    position: absolute;
    top:43%;
    left:-100%;
}
.jae0 > a{
    display: block;
    padding:5px;
    position: absolute;
    bottom:35px;
    right:20px;
    color:#000;
}
.jae0 > p{
    font-weight: bold;
}
.jae0 > h3{
    text-align: center;
    margin-left:-40px;
    font-size: 35px;
    color:#000;
}
.jae0 > p{
    font-style: 20px;
    color:#000;
    margin-top:16px;
    margin-left:10px;
}

/*파타고니아*/


/* 쥬씨 */
.jae1{
    width:500px;
    height:300px;
    /* background-color: rgba(0,0,0,0.3); */
    position: absolute;
    top:35%;
    left:-100%;
}
.jae1 > a{
    display: block;
    padding:5px;
    position: absolute;
    bottom:35px;
    right:20px;
    color:#000;
}

.jae1 > p{
    font-weight: bold;
}

.jae1 > h3{
    text-align: center;
    margin-left:-40px;
    font-size: 35px;
    color:#000;
    color:#ec0928;
}
.jae1 > p{
    font-style: 20px;
    color:#000;
    margin-top:16px;
    margin-left:10px;
}
/* 쥬씨 */


/* 푸 마 */
.jae2{
    width:500px;
    height:300px;
    /* background-color: rgba(0,0,0,0.3); */
    position: absolute;
    top:60%;
    left:-100%;
}
.jae2 > a{
    display: block;
    padding:5px;
    position: absolute;
    bottom:35px;
    right:20px;
    color:#000;
}
.jae2 > p{
    font-weight: bold;
}
.jae2 > h3{
    text-align: center;
    font-size: 35px;
    color:#ff0000;
}
.jae2 > p{
    font-style: 20px;
    color:#000;
    margin-top:16px;
    margin-left:10px;
}

.html_css_icon{
    width:350px;
    height:60px;
    /* background-color: red; */
    margin-top:30px;
    margin-left:30px;
    box-sizing: border-box;
    
}
.html_css_icon img{
    margin-left:10px;
    transition: all 0.5s;
    
}
.html_css_icon img:hover{
    transform: scale(1.2);
}

/* 푸 마 */


/* 요거프레소 */
.jae3{
    width:500px;
    height:300px;
    /* background-color: rgba(0,0,0,0.3); */
    position: absolute;
    top:33%;
    left:-100%;
}
.jae3 > a{
    display: block;
    padding:5px;
    position: absolute;
    bottom:35px;
    right:20px;
    color:#000;
}
.jae3 > p{
    font-weight: bold;
}
.jae3 > h3{
    text-align: center;
    margin-left:-40px;
    font-size: 35px;
    color:#ad1429;
}
.jae3 > p{
    font-style: 20px;
    color:#000;
    margin-top:16px;
    margin-left:10px;
}

.html_css_icon{
    width:350px;
    height:60px;
    /* background-color: red; */
    margin-top:30px;
    margin-left:30px;
    box-sizing: border-box;
    
}
.html_css_icon img{
    margin-left:10px;
    transition: all 0.5s;
    
}
.html_css_icon img:hover{
    transform: scale(1.2);
}

/* 푸 마 */

/* 위 니 */
.jae4{
    width:500px;
    height:300px;
    /* background-color: rgba(0,0,0,0.3); */
    position: absolute;
    top:33%;
    left:-100%;
}
.jae4 > a{
    display: block;
    padding:5px;
    position: absolute;
    bottom:35px;
    right:20px;
    color:#000;
}
.jae4 > p{
    font-weight: bold;
}
.jae4 > h3{
    text-align: center;
    margin-left:-40px;
    font-size: 35px;
    color:#f27893;
}
.jae4 > p{
    font-style: 20px;
    color:#000;
    margin-top:16px;
    margin-left:10px;
}


.app{
    position: absolute;
    left:42%;
    top:24%;
    z-index: 10;

}

.app{
    position: absolute;
    width:1004px;
    height:386px;
    /* border:1px solid red; */
    left:48%;   
    top:58%;
    overflow: hidden;
}
.app > img{
    position: absolute;
    left:100%;
}

.html_css_icon{
    width:350px;
    height:60px;
    /* background-color: red; */
    margin-top:30px;
    margin-left:30px;
    box-sizing: border-box;
    z-index: 999;
    
}
.html_css_icon img{
    margin-left:10px;
    transition: all 0.5s;
    
}
.html_css_icon img:hover{
    transform: scale(1.2);
}

/* 위 니 */

/* ===============================================포트폴리오 설명*/

/* ===============================================스킬 설명*/
#body_popo3{
    width:1920px;
    height:1000px;
    margin:0 auto;
    background-color: #fff;
    position: relative;
}

.sonbyeongjae{
    position: absolute;
    width:1800px;
    height:800px;
    left:30px;
    top:50px;
    /* border:1px solid red; */
}

.son{
    position: absolute;
    width:375px;
    height:500px;
    right:150%;
    top:50px;
    /* border:3px solid green; */
}


/*디벨프먼트 스킬 부분*/

.develpment{
    position: absolute;
    width:450px;
    height:800px;
    /* border:1px solid red; */
    left:-100%;
    top:45px;
    cursor: pointer;
}

.devel_img > img{
    margin-left:140px;
    margin-top:30px;
}
.devel_img > h3{
    text-align: center;
    padding:10px;
}


.devel_img2{
    position: relative;
    width:450px;
    height:500px;
    margin:50px 0 auto;
    /* border:1px solid green; */
}


.devel_img2 > div{
    width:100%;
    height:calc(100% / 4);

}

.devel_img2 > div > img{
    display: block;
    float:left;
}

.devel_img2 > div:nth-child(5) > img,
.devel_img2 > div:nth-child(6) > img{
    padding-right:5px;
}
.devel_img2 > div > p{
    float:left;
    margin-top:23px;
    height:13px;

}
.devel_img2 > div > h3{
    float:left;
    margin-top:15px;
    margin-left:10px;
}

.stick1{ background: -webkit-linear-gradient(left, #1e5799 0%,#1d869b 55%,#193c9e 79%,#875faf 100%);}
.stick2{ background: -webkit-linear-gradient(left, #1e5799 0%,#1d869b 55%,#193c9e 79%,#875faf 100%);}
.stick3{ background: -webkit-linear-gradient(left, #1e5799 0%,#1d869b 55%,#193c9e 79%,#875faf 100%);}
.stick4{ background: -webkit-linear-gradient(left, #1e5799 0%,#1d869b 55%,#193c9e 79%,#875faf 100%);}
.stick5{ background: -webkit-linear-gradient(left, #1e5799 0%,#1d869b 55%,#193c9e 79%,#875faf 100%);}
.stick6{ background: -webkit-linear-gradient(left, #1e5799 0%,#1d869b 55%,#193c9e 79%,#875faf 100%);}


/*디자인 어도비 스킬 부분*/

.develpment2-2{
    position: absolute;
    width:452px;
    height:850px;
    /* border:1px solid red; */
    left:-100%;
    top:45px;
    cursor: pointer;
}
.devel_img3 > img{
    margin-left:140px;
    margin-top:30px;
}
.devel_img3 > h3{
    text-align: center;
    padding:10px;
}


.devel_img3-1{
    position: relative;
    width:452px;
    height:200px;
    margin:50px 0 auto;
    /* border:1px solid blue; */
}


.devel_img3-1 > div{
    width:100%;
    height:calc(100% / 2);
}

.devel_img3-1 > div > img{
    float:left;
   
}

.devel_img3-1 > div:nth-child(1) > img,
.devel_img3-1 > div:nth-child(2) > img{
    padding-right:5px;
}
.devel_img3-1 > div > p{
    float:left;
    margin-top:23px;
    height:13px;

}
.devel_img3-1 > div > h3{
    float:left;
    margin-top:15px;
    margin-left:10px;
}

.stick1{ background: -webkit-linear-gradient(left, #1e5799 0%,#1d869b 55%,#193c9e 79%,#875faf 100%);}
.stick2{ background: -webkit-linear-gradient(left, #1e5799 0%,#1d869b 55%,#193c9e 79%,#875faf 100%);}
.stick3{ background: -webkit-linear-gradient(left, #1e5799 0%,#1d869b 55%,#193c9e 79%,#875faf 100%);}
.stick4{ background: -webkit-linear-gradient(left, #1e5799 0%,#1d869b 55%,#193c9e 79%,#875faf 100%);}
.stick5{ background: -webkit-linear-gradient(left, #1e5799 0%,#1d869b 55%,#193c9e 79%,#875faf 100%);}
.stick6{ background: -webkit-linear-gradient(left, #1e5799 0%,#1d869b 55%,#193c9e 79%,#875faf 100%);}




































/* ===============================================스킬 설명*/


/* ===============================================마무리 설명*/

#body_popo4{
    width:1920px;
    height:1000px;
    margin:0 auto;
    background-color: #fff;
}

.e-mail{
    margin:0  auto;
    position: relative;
    width:1800px;
    height:1000px;
    /* border:1px solid green; */
}

.me_mali{
    position: absolute;
    width:1200px;
    height:350px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* border:1px solid red; */

}
.me_mali > img{
    width:30px;
    height:30px;
    /* background-color: red; */
    margin-left:380px;
    margin-top:35px;
}   

.me_mali > p{
    margin-left:425px;
    margin-top:-35px;
    font-size: 23px;
    transition: all 0.6s;
}

.me_mali > p:nth-child(4){
    font-size: 15px;
    margin-top:50px;
    margin-left:400px;
    
}


.me_mali > h2{
    font-size: 70px;
    transition: all 0.6s;
    transform: scale(1);
    cursor: pointer;
    text-align: center;
    margin-top:40px;
}
.me_mali > h2:hover{
    transform: scale(0.9);
    color:#ffba00;
}
/* ===============================================마무리 설명*/














/*



.html_icons0{
    position: absolute;
    width:850px;
    height:160px;
    top:5%;
    left:30%;

}

.stick1{
    position: absolute;
    width:0px;
    height:30px;
    top:30%;
    left:10%;
    background-color:#e54d26;
}

.stick1 > P{
    position: absolute;
    left:93%;
    font-weight: bold;
    font-size: 20PX;
}




.html_icons1{
    position: absolute;
    width:850px;
    height:160px;
    top:-3%;
    left:75%;

}

.stick2{
    position: absolute;
    width:0px;
    height:30px;
    top:30%;
    left:10%;
    background-color: #0b74b8;

}

.stick2 > P{
    position: absolute;
    left:93%;
    font-weight: bold;
    font-size: 20PX;
}



.html_icons2{
    position: absolute;
    width:850px;
    height:160px;
    top:18%;
    left:30%;

}

.stick3{
    position: absolute;
    width:0px;
    height:30px;
    top:33%;
    left:11%;
    background-color:#ffd93a;
}

.stick3 > P{
    position: absolute;
    left:93%;
    font-weight: bold;
    font-size: 20PX;
}



.html_icons3{
    position: absolute;
    width:850px;
    height:160px;
    top:5%;
    left:75%;

}

.stick4{
    position: absolute;
    width:0px;
    height:30px;
    top:27%;
    left:11%;
    background-color:#315d92;
}

.stick4 > P{
    position: absolute;
    left:93%;
    font-weight: bold;
    font-size: 20PX;
}


.html_icons4{
    position: absolute;
    width:850px;
    height:160px;
    top:31%;
    left:30%;

}

.stick5{
    position: absolute;
    width:0px;
    height:30px;
    top:30%;
    left:11%;
    background-color:#52d0ff;
}

.stick5 > P{
    position: absolute;
    left:93%;
    font-weight: bold;
    font-size: 20PX;
}



.html_icons5{
    position: absolute;
    width:850px;
    height:160px;
    top:3%;
    left:75%;

}

.stick6{
    position: absolute;
    width:0px;
    height:30px;
    top:30%;
    left:11%;
    background-color:#e77200;
}

.stick6 > P{
    position: absolute;
    left:93%;
    font-weight: bold;
    font-size: 20PX;
}

  */














